@font-face {
    font-family: Latin Modern;
    src: url('lmroman-regular.woff');
    font-style: normal;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
small,
blockquote,
li,
button,
input,
td,
th {
    color: white;
    font-family: Latin Modern, serif !important;
}

body {
    margin: 10px;
    background-color: black !important;
}

th,
td {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
}

#tab-table td {
    font-size: 15px;
}

#tab-table-labels th {
    font-size: 20px;
}

#tab-table-labels,
#tab-table {
    border-top: 1px white solid;
}

#tab-table td {
    border-bottom: 1px white solid;
}

#tab-table-labels tr {
    background-color: rgba(255, 255, 255, .4)
}

#tab-table tr {
    transition: .1s;
}

#tab-table tr:hover {
    background-color: rgba(255, 255, 255, .2);
}

#tab-table tr:active,
.tr-selected,
#tab-table tr:active td {
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

.tr-selected td {
    color: black;
}

button {
    height: 2.5em;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: .1s;
    padding: 0;
    font-family: Symbola, sans-serif;
    font-size: 1.6em;
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background-color: rgba(255, 255, 255, .2);
}

#content {
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    width: 100%;
}

#btn-apply {
    width: 100%;
}

#grad {
    height: 50px;
    margin-top: 10px;
}

#grad-container {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2%, rgba(128, 128, 128, 0.4) 2%, rgba(128, 128, 128, 0.4) 4%);
    outline: darkslategray 3px solid;
}

#gradtab-container {
    position: relative;
    height: 30px;
    margin: 5px 0 5px 0;
}

.gradtab {
    height: 100%;
    width: 10px;
    background-color: white;
    position: absolute;
    outline-style: solid;
    outline-width: 2px;
    outline-color: gray;
}

.gradtab:hover,
#first-tab:hover,
#last-tab:hover {
    outline-color: rgb(180, 180, 180);
}

.gradtab::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-width: 0px 5px 12px 5px;
    border-color: white transparent;
    border-style: solid;
    margin-top: -15px;
}

.gradtab::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-width: 0px 7px 14px 7px;
    border-color: black transparent;
    border-style: solid;
    margin-top: -17px;
    margin-left: -2px;
}

.selected {
    outline-color: salmon !important;
    z-index: 1;
}

#first-tab,
#last-tab {
    outline-color: darkslategray;
}

#btn-table {
    border: 1px white solid;
    height: 100%;
    width: 95%;
    font-size: 2em;
    transition: .1s;
}

#btn-table:hover {
    background-color: rgba(255, 255, 255, .4);
}

.preview-block {
    width: 1.2em;
    height: 1.2em;
    right: 5px;
    position: absolute;
    display: inline-block;
    border: 2px gray solid;
}

#pos-input {
    height: 100%;
    width: 95%;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 2em;
    border: 1px solid white;
}

#pos-input::selection {
    background-color: white;
}

#pos-input::-webkit-outer-spin-button,
#pos-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pushed {
    background-color: white;
    color: black;
}

.hidden {
    display: none;
}